<div class="sidebar" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a routerLink="/home" class="logo">
        <img
          src="assets/images/logo.png"
          alt="navbar brand"
          class="navbar-brand"
          height="60"
        />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a
              data-bs-toggle="collapse"
              href="#dashboard"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="fas fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Pages</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="users">
              <i class="fas fa-user"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="records">
              <i class="fa fa-microphone"></i>
              <p>records</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="services">
              <i class="fas fa-cat"></i>
              <p>services</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="carnets">
              <i class="fa fa-paper-plane"></i>
              <p>Carnets</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/my-pets" routerLinkActive="active">
              <i class="fas fa-dog"></i>
              <p>Pets</p>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/posts" routerLinkActive="active">
              <i class="fas fa-newspaper"></i>
              <p>Posts</p>
            </a>
            
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="marketplaces">
              <i class="fas fa-user"></i>
              <p>Marketplace</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="/dashboard/payments">
              <i class="fa fa-credit-card-alt"></i>
              <p>Payments</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a routerLink="/dashboard/baskets" class="nav-link">
              <i class="fa fa-shopping-basket"></i>
              <p>Baskets</p>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/products">
              <i class="fas fa-cube"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="/dashboard/eventback" routerLinkActive="active">
              <i class="fas fa-calendar-alt"></i>
              <p>Events</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#charts">
              <i class="fas fa-tools"></i>
              <p>Settings</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
