<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a routerLink="/home" class="logo">
          <img
            src="assets/images/logo.png"
            alt="navbar brand"
            class="navbar-brand"
            height="60"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a
              data-bs-toggle="collapse"
              href="#dashboard"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="fas fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Pages</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" routerLink="users">
              <i class="fas fa-user"></i>
              <p>Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#sidebarLayouts">
              <i class="fas fa-paw"></i>
              <p>Services</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="togglePetsSubmenu()" role="button" [attr.aria-expanded]="isPetsSubmenuOpen" aria-controls="petsSubmenu">
              <i class="fas fa-dog"></i>
              <p>Pets</p>
              <span class="caret"></span>
            </a>
            <div [ngClass]="isPetsSubmenuOpen? 'collapse show' : 'collapse'" id="petsSubmenu">
              <ul class="nav nav-collapse">
                <li>
                  <a routerLink="my-pets">
                    <span class="sub-item">My Pets</span>
                  </a>
                </li>
                <li>
                  <a routerLink="adoption-request">
                    <span class="sub-item">My adoption request</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#tables">
              <i class="fas  fa-newspaper"></i>
              <p>Posts</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#maps">
              <i class="fas fa-cube"></i>
              <p>Products</p>
            </a>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#charts">
              <i class="fas fa-tools"></i>
              <p>Settings</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>