.confirmation-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}
.custom-modal .modal-body {
    max-height: 70vh; /* adjust as needed */
    overflow-y: auto;
  }
  #autocomplete {
    z-index: 2100; /* optional, if needed */
  }
  .pac-container {
    z-index: 2000 !important; /* higher than Bootstrap modal (1050) */

  }
  .modal-backdrop {
    z-index: 1040;
  }
 
  #edit-pet-modal{
    z-index: 5;
 
  }