<div class="wrap">
  <div class="container">
    <div class="row">
      <!-- Contact details -->
      <div class="col-md-6 d-flex align-items-center">
        <p class="mb-0 phone pl-md-2">
          <a href="tel:+001234567" class="mr-2">
            <span class="fa fa-phone mr-1"></span> +216 21 354 319
          </a>
          <a href="mailto:fureverbuddy93@gmail.com">
            <span class="fa fa-paper-plane mr-1"></span> fureverbuddy93@gmail.com
          </a>
        </p>
        <!-- Social media links -->
        <a href="https://www.facebook.com/FurreveryBuddyBlog/" class="ml-3">
          <span class="fa fa-facebook" style="color: #ffffff !important;">
            <i class="sr-only">Facebook</i>
          </span>
        </a>
        
      </div>
    </div>
  </div>
</div>
