<div class="pet-sitting-form-container" >
  <h2 class="form-title">Request a Pet Sitter</h2>
  <form (ngSubmit)="submitRequest()" class="pet-sitting-form" [formGroup]="petSittingForm">
    <!-- Select Pet -->
    <div class="form-group">
      <label for="petSelect">Select Your Pet:</label>
      <div class="custom-dropdown">
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          id="petDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ selectedPetName || 'Select a Pet' }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="petDropdown">
          <li *ngFor="let pet of pets" (click)="selectPet(pet)">
            <a class="dropdown-item d-flex align-items-center">
              <img [src]="getImageUrl(pet.imagePath)" alt="{{ pet.name }}" class="pet-image me-2" />
              <span class="pet-name">{{ pet.name }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Start Date -->
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input
        id="startDate"
        type="date"
        class="form-control"
        formControlName="startDate"
        name="startDate"
        required
      />
    </div>

    <!-- End Date -->
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input
        id="endDate"
        type="date"
        class="form-control"
        formControlName="endDate"
        name="endDate"
        required
      />
    </div>

    <!-- Location -->
    <div class="form-group mt-3 position-relative">
        <label for="location">Where does your pet reside ? </label>
      
        <!-- Search input for autocomplete -->
        <input
        id="autocomplete"
        #autocompleteInput
        type="text"
        class="form-control mb-2"
        placeholder="Type a location"
        autocomplete="off"
        />
      
        <!-- Map display -->
        <div id="map" #map style="height: 400px;"></div>
        <!-- Hidden form field to store lat,lng -->
        <input
          type="text"
          formControlName="location"
          class="form-control mt-2"
          placeholder="Location coordinates"
          hidden
        />
      </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary submit-btn">Submit Request</button>
  </form>
</div>
