.loader {
    width: 48px;
    height: 48px;
    position: relative;
    transform: rotate(45deg);
  }
  
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50% 50% 0 50%;
    background: transparent;
    background-image: radial-gradient(circle 12px at 50% 50%, transparent 94%, #ff4747);
  }
  
  .loader:after {
    animation: pulse-map 1s infinite;
    transform: perspective(336px) translateZ(0px);
  }
  
  @keyframes pulse-map {
    to {
      transform: perspective(336px) translateZ(168px);
      opacity: 0;
    }
  }
  