<div class="sidebar-container profile-sidebar-container">
    <!-- User Profile Section -->
    <div *ngIf="user" class="user-profile-section">
      <div class="user-pic">
        <img [src]="getProfilePictureUrl()" 
             alt="Profile Image" 
             (error)="handleImageError($event)"
             class="profile-image" />
      </div>
      
      <div class="back-button" routerLink="/home">
        <span class="arrow">⬅️</span>
        Go Back Home
      </div>
         <div class="sidebar-title">
 
      <h5 class="dashboard-title">{{ user.firstName }} {{ user.lastName }}</h5>

    </div>
  
    <ul class="sidebar-nav">
      <li>
        <a   routerLink="/myprofile">
          <i class="fa fa-user-o" aria-hidden="true"></i>
            my Profile
        </a>
      </li>
      <li>
      <li>
        <a   [routerLink]="['/editProfile', user.id]">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            Edit Profile
        </a>
      </li>
      <li>
        <a  routerLinkActive="active">
            <i class="fa fa-paw" aria-hidden="true"></i>
            My pets
        </a>
      </li>
      <li>
        <a routerLink="/myproducts" routerLinkActive="active">
          <i class="fa fa-calendar-check"></i>
          My Products
        </a>
      </li>
      
      <li>
        <a routerLinkActive="active" routerLink="/appointments-profile">
          <i class="fa fa-calendar-check"></i>
          my appointments
        </a>
      </li>
      <li>
        <button class="btn btn-link" (click)="user_pref()">
          <i class="fa fa-paw"></i> Adoption
        </button>
      </li>
      <li>
        <button class="btn btn-link" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Logout
        </button>
      </li>
    </ul>
  
    <app-user-profile-modal
    *ngIf="isAdoptionModalVisible && user"
    [isVisible]="isAdoptionModalVisible"
    [userId]="user.id" 
    (closeModal)="isAdoptionModalVisible = false">
  </app-user-profile-modal>
  </div>