<div class="pet-sitting-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li [routerLinkActive]="'active'" [routerLink]="'display-offers'">
        <i class="fas fa-search"></i> Opportunities
      </li>
      <li [routerLinkActive]="'active'" [routerLink]="'track-offers'">
        <i class="fas fa-map-marker-alt"></i> Track your offers
      </li>
      <li [routerLinkActive]="'active'" [routerLink]="'madebyme'">
        <i class="fas fa-heart"></i> Made by you
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>