<!-- user-profile.component.html -->
<div class="user-profile" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <h1>User Profile</h1>
    <div class="profile-details" style="text-align: center;">
        <img src="https://cdn-icons-png.flaticon.com/512/5065/5065240.png" alt="User Picture" class="user-pic" style="margin: 0 auto;">
        <p><strong>Name:</strong> John Doe</p>
        <p><strong>Email:</strong> email</p>
        <p><strong>Phone:</strong> +1234567890</p>
    </div>
    <div class="profile-actions">
        <button class="btn btn-primary mt-3 me-2">Edit Profile</button>
        <button class="btn btn-primary mt-3" (click)="logout()">Logout</button>
    </div>
</div>