<div class="user-profile">
    <div *ngIf="isLoading" class="loading-spinner">
        <p>Loading profile...</p>
    </div>

    <div *ngIf="!isLoading && errorMessage" class="alert alert-warning">
        {{ errorMessage }}
    </div>

    <div *ngIf="!isLoading && !errorMessage">
        <h1 style="font-size: 2.5rem; font-weight: bold;">Welcome, {{ user.firstName }}!</h1>
        <div class="profile-details">
            <img [src]="user.profilePictureUrl || '/assets/images/userDefaultPic.png' " 
                 alt="User Picture" 
                 class="user-pic">
            
            <div class="user-info">
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p ><strong>First Name:</strong> {{ user.firstName }}</p>
                <p ><strong>Last Name:</strong> {{ user.lastName }}</p>
                <p><strong>your Role is:</strong> {{ getRolesAsString() }}</p>
            </div>
        </div>
        
        <div class="profile-actions">
            <button class="btn btn-primary me-2" (click)="editProfile()">Edit Profile</button>
            <button class="btn btn-danger me-2" >Delete Account</button>
            <button class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
