<!-- Hero Section -->
<section class="hero-wrap">
    <div class="overlay"></div>
    <div class="container text-center">
      <div class="hero-content">
        <h1>Welcome to your Marketplace</h1>
        <p>What are you looking for today?</p>
      </div>
    </div>
  </section>
  
    <!-- Marketplace Section -->
    <section class="ftco-section bg-light">
        <div class="container text-center">
          <h2>Looking for something special today?</h2>
          <p>Discover all our products and find exactly what you need !</p>
          <a routerLink="/produit" class="btn btn-primary btn-lg">Explore our collection</a>
        </div>
      </section>
