<section class="ftco-section" >
  <div class="container ">
    <div class="card-container">
      <ng-container  *ngFor="let pet of pets">
        <div >
          <app-public-pet-card [pet]="pet" (click)="openDetailModal(pet)"></app-public-pet-card>
                </div>
            </ng-container>
        </div>        


      <!--Pagination -->  
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li>
                <a href="#" (click)="$event.preventDefault(); changePage(currentPage - 1)">&lt;</a>
              </li>
              <li *ngFor="let page of getIndexArray(totalPages); let i = index" [class.active]="i + 1 === currentPage">
                <a href="#" (click)="$event.preventDefault(); changePage(i + 1)">{{ i + 1 }}</a>
              </li>
              <li>
                <a href="#" (click)="$event.preventDefault(); changePage(currentPage + 1)">&gt;</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modals -->



<app-public-pet-detail-modal
[isVisible]="showDetail"
(close)="closeDetailModal()"
(passToEdit)=" openEditModal()"
[pet]="selectedPet"
(petRemoved)="loadPetsAfterChange()"
>
</app-public-pet-detail-modal>