<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a routerLink="/home">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-0 bread">Contact</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6 text-center mb-5">
                      <h2 class="heading-section"></h2>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-12">
                      <div class="wrapper">
                          <div class="row mb-5">
                              <div class="col-md-3">
                                  <div class="dbox w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                  <span class="fa fa-map-marker"></span>
                              </div>
                              <div class="text">
                              <p><span>Address:</span> Avenue Habib Bourguiba, Tunis , Tunisia</p>
                            </div>
                        </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="dbox w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                  <span class="fa fa-phone"></span>
                              </div>
                              <div class="text">
                              <p><span>Phone: <br> </span> <a href="tel://1234567920">+216 21 354 319</a></p>
                            </div>
                        </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="dbox w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                  <span class="fa fa-paper-plane"></span>
                              </div>
                              <div class="text">
                              <p><span>Email: </span> <a href="mailto:fureverbuddy93@gmail.com">fureverbuddy93@gmail.com
                                </a></p>
                            </div>
                        </div>
                              </div>
                              <div class="col-md-3">
                                  <div class="dbox w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                  <span class="fa fa-facebook"></span>
                              </div>
                              <div class="text">
                                <p><a href="https://www.facebook.com/FurreveryBuddyBlog/">Facebook Page</a></p>
                              </div>
                            
                              
                              
                        </div>
                              </div>
                          </div>
                          <div *ngIf="!isLoggedIn" class="alert alert-danger custom-login-alert">
                            <span>
                              Please <a class="login-link" (click)="redirectToLogin()">log in</a> to contact us.
                            </span>
                          </div>
                          <div class="row no-gutters">
                              <div class="col-md-7">
                                  <div class="contact-wrap w-100 p-md-5 p-4">
                                      <h3 class="mb-4">Contact Us</h3>
                                      <form (ngSubmit)="onSubmit()" #form="ngForm">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="label" for="name">Full Name</label>
                                              <input type="text" class="form-control" [(ngModel)]="contactForm.name" name="name" required placeholder="Name">
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group">
                                              <label class="label" for="email">Email Address</label>
                                              <input type="email" class="form-control"
                                              [(ngModel)]="contactForm.email"
                                              name="email"
                                              [readonly]="true"
                                              placeholder="Email">
                                                                                   </div>
                                          </div>
                                          <div class="col-md-12">
                                            <div class="form-group">
                                              <label class="label" for="subject">Subject</label>
                                              <input type="text" class="form-control" [(ngModel)]="contactForm.subject" name="subject" required placeholder="Subject">
                                            </div>
                                          </div>
                                          <div class="col-md-12">
                                            <div class="form-group">
                                              <label class="label">Message</label>
                                              <textarea name="message" class="form-control" [(ngModel)]="contactForm.message" required cols="30" rows="4" placeholder="Message"></textarea>
                                            </div>
                                          </div>
                                          <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary" [disabled]="!isLoggedIn">Send Message</button>
                                            </div>
                                          </div>
                                          <!-- Display messages -->
                                          <div class="col-md-12 mt-3">
                                            <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
                                            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                                          </div>
                                        </div>
                                      </form>
                                      
                                  </div>
                              </div>
                              <div class="col-md-5 d-flex align-items-stretch">
                                  <div class="info-wrap w-100 p-5 img" style="background-image: url(assets/images/img.jpg);">
                        </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

 <!-- Map Section -->
 <h4 class="where-to-find-heading">🗺️ Where To Find Us?</h4>

<section class="map-section">
    <div class="map-container">
      <div id="map"></div>
    </div>
  </section>
  