.nav-link {
    cursor: pointer;
  }
  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .fab-menu {
    position: absolute;
    transform: translate(150%, -70%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: visible;
  }
  
  .fab-menu button {
    transition: transform 0.3s ease;
  }
  
  button.mat-fab {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }
  
  button.mat-mini-fab {
    z-index: 9;
  }
  
  button.mat-fab  {
    background-color: #3f51b5;
  }

  .fab-container {
    position: relative;
  }



  .fab-container .fab-menu button {
    transition: transform 0.3s ease;
  }
