<form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <div class="form-group">
    <label for="nom">Nom du produit</label>
    <input type="text" id="nom" class="form-control" formControlName="nom" />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="prix">Prix</label>
    <input type="number" id="prix" class="form-control" formControlName="prix" />
  </div>

  <div class="form-group">
    <label for="category">Catégorie</label>
    <select id="category" class="form-control" formControlName="category">
      <option value="">Choisir une catégorie</option>
      <option value="Alimentation">Alimentation</option>
      <option value="Accessoires">Accessoires</option>
      <option value="Hygiène et soins">Hygiène et soins</option>
      <option value="Santé">Santé</option>
      <option value="Habitat">Habitat</option>
    </select>
  </div>

  <div class="form-group">
    <label for="stock">Stock disponible</label>
    <input type="number" id="stock" class="form-control" formControlName="stock" />
  </div>

  <div class="form-group">
    <label for="quantity">Quantité souhaitée</label>
    <input 
      type="number" 
      id="quantity" 
      class="form-control" 
      formControlName="quantity" 
      [min]="1" 
      [max]="productForm.get('stock')?.value" 
      required 
    />
  </div>

  <div class="form-group">
    <label for="lowStockThreshold">Seuil d'alerte de stock</label>
    <input type="number" id="lowStockThreshold" class="form-control" formControlName="lowStockThreshold" />
  </div>

  <div class="form-group">
    <label for="image">Image du produit</label>
    <input type="file" id="image" class="form-control" (change)="onFileSelected($event)" accept="image/*" />
    <div *ngIf="previewImage" class="mt-2">
      <img [src]="previewImage" alt="Aperçu de l'image" class="img-thumbnail" style="max-height: 200px;">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="isLoading || productForm.invalid">
    {{ isLoading ? 'Ajout en cours...' : 'Ajouter le produit' }}
  </button>

   <!-- Bouton de retour aux produits -->
   <button type="button" class="btn btn-secondary mt-3" (click)="onReturnToProducts()">
    Retour aux produits
  </button>
</form>
