<div class="form-container shadow p-4 rounded">
  <div class="alert alert-success" role="alert">
    <strong>Important! <br></strong> Merci de respecter les autres membres et d’utiliser un langage courtois. Toute publication inappropriée sera modérée.
  </div>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="postTitle">Titre du Post</label>
      <input type="text" class="form-control" id="postTitle" formControlName="title" placeholder="Entrez un titre" required>
      <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched" class="text-danger">
        Le titre est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" (change)="onFileSelected($event)">
    </div>

    <div class="form-group">
      <label for="postContent">Contenu</label>
      <textarea class="form-control" id="postContent" formControlName="content" rows="6" placeholder="Rédigez votre post ici..." required></textarea>
      <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched" class="text-danger">
        Le contenu est requis.
      </div>
    </div>

    <div class="form-group">
      <label>Type</label>
      <div class="form-check" *ngFor="let type of types">
        <input class="form-check-input" type="radio" [value]="type.value" formControlName="type" [id]="type.value">
        <label class="form-check-label" [for]="type.value">{{ type.label }}</label>
      </div>
      <div *ngIf="postForm.get('type')?.invalid && postForm.get('type')?.touched" class="text-danger">
        Veuillez sélectionner un type.
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-block" [disabled]="postForm.invalid || isSubmitting">
      <span *ngIf="isSubmitting">En cours...</span>
      <span *ngIf="!isSubmitting">Publier</span>
    </button>

    <div *ngIf="errorMessage" class="alert alert-danger mt-2">
      {{ errorMessage }}
    </div>
  </form>
</div>
