<div class="container py-5">
    <h2 class="mb-4 text-center text-dark fw-bold">
      📋 Gestion des Carnets Médicaux
    </h2>
  
    <div *ngIf="medicalRecords.length === 0" class="alert alert-info text-center">
      Aucun carnet médical disponible pour le moment.
    </div>
  
    <div class="row gy-4">
      <div class="col-md-6 col-lg-4" *ngFor="let record of medicalRecords">
        <div class="card border-0 shadow-sm h-100">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <span><i class="bi bi-journal-medical me-2"></i>Carnet ID: {{ record.carnet_id }}</span>
            <span class="badge bg-light text-dark">{{ record.type }}</span>
          </div>
          <div class="card-body">
            <p><i class="bi bi-calendar-date me-2"></i><strong>Date :</strong> {{ record.date | date: 'dd/MM/yyyy' }}</p>
            <p><i class="bi bi-info-circle me-2"></i><strong>Description :</strong> {{ record.description }}</p>
            <p><i class="bi bi-calendar-check me-2"></i><strong>type :</strong> {{ record.type }}</p>
          </div>
          
        </div>
      </div>
    </div>
  
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-success btn-lg px-4">
        ➕ Ajouter un nouveau carnet
      </button>
    </div>
  </div>
  