.pet-card{
    transition: transform 0.3s ease-in-out;
    position: relative;
    border: 1px solid #ccc;

}
.pet-card:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.info-container{
    display: flex;
    align-items: center;

    flex-direction: row;
    justify-content: space-between;

}
.adoption-badge {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
    background: linear-gradient(to right, #ec4899, #ef4444, #f59e0b);
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 9999px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.9;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.9;
    }
  }