.card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 2vw;    
}


.modal-header {
    background-color: #007bff;
    color: white;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    justify-content: center;
  }


.modal-content {
  margin: 2rem auto;
  z-index: 10;
}
#add-pet-modal{
  z-index: 5;
}
#edit-pet-modal{
  z-index: 5;
}
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); 
  isolation: isolate; 
}
.modal-btn {
  width: 10vw;
  z-index: 1000;
  margin:5vh 10vw 0px 0px ;
}
.page-container{
  display: flex ;
  flex-direction: column;
  padding-top: 5vh;
  padding-left: 10vw;
}
