<div class="page-container">
  <div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-primary modal-btn" (click)="openModal()">
      Add a Pet
    </button>
  </div>
  <section class="ftco-section pt-5" >
  <div class="container ">
    <div class="card-container">
      <ng-container  *ngFor="let pet of pets">
        <div >
          <app-pet-card [pet]="pet" (click)="openDetailModal(pet)"></app-pet-card>
                </div>
            </ng-container>
        </div>        


      <!--Pagination -->  
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li>
                <a href="#" (click)="$event.preventDefault(); changePage(currentPage - 1)">&lt;</a>
              </li>
              <li *ngFor="let page of getIndexArray(totalPages); let i = index" [class.active]="i + 1 === currentPage">
                <a href="#" (click)="$event.preventDefault(); changePage(i + 1)">{{ i + 1 }}</a>
              </li>
              <li>
                <a href="#" (click)="$event.preventDefault(); changePage(currentPage + 1)">&gt;</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  <!-- Modal HTML -->
  
  <app-add-pet-modal
  id="add-pet-modal"
  [isVisible]="showModal"
  (close)="closeModal()"
  (petAdded)="loadPetsAfterChange()">
</app-add-pet-modal>

<app-edit-pet-modal
id="edit-pet-modal"
[isVisible]="showEditModal"
(close)="closeEditModal()"
[pet]="selectedPet"
(petEdited)="loadPetsAfterChange()">
</app-edit-pet-modal>


<app-pet-detail-modal
[isVisible]="showDetail"
(close)="closeDetailModal()"
(passToEdit)=" openEditModal()"
[pet]="selectedPet"
(petRemoved)="loadPetsAfterChange()"
>
</app-pet-detail-modal>