<h2 class="text-center my-4">📝 Détails du carnet du {{ carnetname}}</h2>

<div class="records-container">
  <div *ngFor="let record of records" class="card record-card animate-fade-in">
    <div class="card-body">
      <h5 class="card-title">
        📅 {{ record.dateTime | date: 'dd/MM/yyyy' }}
      </h5>
      <p><strong>🧾 Type :</strong> {{ record.type }}</p>
      <p><strong>📄 Description :</strong> {{ record.description }}</p>
      <p><strong>👨‍⚕️ Vétérinaire :</strong> {{ record.veterinarian_id || 'Non spécifié' }}</p>
      <p><strong>⚖️ Poids :</strong> {{ record.poids || 'Non spécifié' }} kg</p>
      <button class="btn btn-primary mt-2" (click)="editRecord(record.id)">
        ✏️ Modifier
      </button>
    </div>
  </div>
</div>
