<div class="pet-card"  >

    <div class="blog-entry align-self-stretch">
      
      <img  class="block-20 rounded " [src]="getImageUrl(pet.imagePath) " > 
      
        <div class="text p-4 ">
            <h3 class="">{{ pet.name }} 
                <span class="badge bg-primary">{{ pet.species }}</span>
            </h3>           
              <div class="info-container">
                <div >Color: {{pet.color}} </div>
                <div >Age: {{pet.age}} </div>
                  <a href="#" class="meta-chat" [ngStyle]="{'color': pet.sex === 'Male' ? 'blue' : '#D455F3'}">
                    <span class="fa fa-venus-mars"></span> {{ pet.sex }}
                  </a>
                </div>
        </div>
  </div>